@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.dummy-text {
  text-align: center;
  font-size: 1.5rem;
  color: #333;
  letter-spacing: 0.02rem;
}

.wrapper {
  width: 95%;
  margin: 3.5rem auto;
}

.flex-container {
  column-count: 2;
  column-gap: 1.02rem;
}

.item {
  overflow: hidden;
  padding: 0.08rem;
}

.error {
  color: red;
}